<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NEO close approaches from NASA/JPL</title>
        <link rel="stylesheet" href="../css/base.css"> <!-- parts from simple-css but no table styling -->
        <link rel="stylesheet" href="../css/custom.css"> <!-- customizations for simple-css -->
    </head>
    <body class="nogrid">
        <div class="space-alert-div">
            <p/>
            <table class="space-alert-table">
                <thead>
                    <tr>
                        <th colspan="5">Near-Earth Object (NEO) close approaches within 2LD since [% start_date %]</th>
                    </tr>
                    <tr class="secondary">
                        <th>designation</th>
                        <th>closest (UTC)</th>
                        <th>distance (km)</th>
                        <th>velocity (km/s)</th>
                        <th>diameter (m)</th>
                    </tr>
                </thead>
                <tbody>

                [% FOREACH neo IN neos %]<tr bgcolor="[% neo.bgcolor %]">
                    <td class="no-padding"><a href="[% neo.link %]">[% neo.des %]</a></td>
                    <td class="no-padding" title="[% neo.cd_local %]">[% neo.cd %]</td>
                    <td class="text-center no-padding" title="[% neo.dist_min %] - [% neo.dist %] - [% neo.dist_max %]">[% neo.dist %]</td>
                    <td class="text-center no-padding">[% neo.v_rel %]</td>
                    <td class="text-center no-padding" bgcolor="[% neo.diameter_bgcolor %]">[% neo.diameter %]</td>
                </tr>[% END %]

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="no-padding no-border text-right"><small>
                                <a href="https://ssd-api.jpl.nasa.gov/doc/cad.html" target="_blank">NASA JPL NEO approaches</a>
                                via pull-nasa-neo, by Ian Kluft&nbsp;</small></td>
                        <td colspan="2" class="no-padding no-border text-right"><small>[% timestamp %]</small></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </body>
</html>
