<!DOCTYPE html> [% USE HTML %]
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Space Weather Alerts from NOAA SWPC</title>
        <link rel="stylesheet" href="../../css/base.css"> <!-- parts from simple-css but no table styling -->
        <link rel="stylesheet" href="../../css/custom.css"> <!-- customizations for simple-css -->
    </head>
    <body class="nogrid">
        <div class="space-alert-div">
            <p/>
            <table class="space-alert-table">
                <thead>
                    <tr>
                        <th colspan="3">Current NOAA space weather alerts</th>
                    </tr>
                    <tr class="secondary">
                        <th>serial</th>
                        <th>title</th>
                        <th>issued</th>
                    </tr>
                </thead>
                <tbody>
                    [% count = 0 %]
                    [% FOREACH alert_id IN active %]
                    [% alert = alerts.$alert_id %]
                    <tr bgcolor="[% alert.derived.bgcolor %]">
                        [% count = count + 1 %]
                        <td class="no-padding">[% alert.derived.serial %]</td>
                        <td class="no-padding" title="[% HTML.escape(alert.message) %]">[% HTML.escape(alert.derived.title) %]</td>
                        <td class="no-padding" title="begin: [% alert.derived.exists('begin') ? alert.derived.begin : '&cross;' %]&NewLine;end: [% alert.derived.exists('end') ? alert.derived.end : '&cross;' %]"><small>[% alert.derived.issue %]</small></td>
                    </tr>
                    [% END %]
                    [% IF count == 0 %]
                    <tr bgcolor="#bbb">
                        <td class="no-padding" colspan="3"><center><b><i>&emptyset;&nbsp;&mdash;&nbsp;no current NOAA SWPC alerts&nbsp;&mdash;&nbsp;&emptyset;</i></b></center></td>
                    </tr>
                    [% END %]
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="no-padding no-border"><small>
                            <a href="https://services.swpc.noaa.gov/products/alerts.json" target="_blank">NOAA SWPC data</a>
                            via pull-swpc-alerts, by Ian Kluft&nbsp;</small></td>
                        <td colspan="1" class="no-padding no-border text-right"><small>[% timestamp %]</small></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </body>
</html>
